@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
}
html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

