name: Deploy Portfolio

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Change to portfolio directory
        run: cd my-portfolio
        shell: bash

      - name: Install dependencies
        working-directory: ./my-portfolio
        run: npm install

      - name: Build project
        working-directory: ./my-portfolio
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./my-portfolio/dist
